<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329689613080-1aqk026ifalvhre4gk6qfgsahngpf1uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329689613080-1aqk026ifalvhre4gk6qfgsahngpf1uq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329689613080-1c10k7vvk5e0i0ong95gusis7k21rhao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeGAjTb4EdavVOXYzf_I1ISs5e1N-1qR0</string>
	<key>GCM_SENDER_ID</key>
	<string>329689613080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.susedko.app</string>
	<key>PROJECT_ID</key>
	<string>drone-guard-bdeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>drone-guard-bdeaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329689613080:ios:ce538921eda91c46e7146d</string>
</dict>
</plist>